body {
	padding:1em;
	
	background:#eee;
}

#home {
	text-align:center;
}
#home >div {
	display:inline-block;
	
	width:40%;
}
#home >div >p >a {
	font-size:2em;
}
#home #endDate {
	font-size:1.5em;
	
	padding:1em 0;
	
	text-align:center;
}

#step1 >div {
	display:inline-block;
}
#step1 label {
	display:inline-block;
	
	margin:0.5rem 0.25rem 0 0;
	padding:0.25rem 0;
	
	vertical-align: middle;
}
#step1 input {
	display:inline-block;
	
	width:16rem;
	
	margin:0.5rem 0.75rem 0 0;
	padding:0.25rem;
	
	vertical-align: middle;
}

#step2 label {
	display:inline-block;
	width:5rem;
	
	margin:1rem 0 0;
	padding:0;
	
	vertical-align: middle;
}
#step2 textarea {
	display:inline-block;
	width:calc( 100% - 7rem );
	height:6rem;
	
	margin:1rem 0 0;
	padding:0.5rem;
	
	vertical-align: middle;
}

#step2 textarea#ownerAddress {
	height:1rem;
}
